#depoimentos .carousel {
  margin: 30px auto 60px;
  padding: 0 80px;
}


#depoimentos .carousel-control-next i {
  margin-right: -3px;
}

#depoimentos .carousel-indicators {
  bottom: -79px;
}

#depoimentos .carousel-indicators li, .carousel-indicators li.active {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 4px;

}

#depoimentos .carousel-indicators li {
  background: #fff !important;
  border: 2px solid #fff !important;
}

#depoimentos .ratings {

  margin-top: 14rem;
}

#depoimentos .carousel-item {
  text-align: left;
}

@media (max-width: 720px) {
  #depoimentos .ratings {

    margin-top: 4rem;
  }
}