@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Mitr:wght@400;700&family=Modak&family=Roboto:wght@400;700&display=swap');

body {
  font-family: mitr;
}

#inicio {
  padding: 0 0 0 4rem !important;
}

.header1 .container {
  height: 44rem;
}

.imagem-fundo {
  background-image: url(../../assets/images/beleza.png);
  background-repeat: no-repeat;
  height: 50rem;
  background-position: right;
  background-size: 878px 735px;
  position: absolute;
  right: -7rem;
  top: -7rem;
}

.cid-tX8babghc0 {
  margin-top: 72px;
}

.cid-tX8n5YQuiW .container, .cid-tX8n5YQuiW .container {
  border-radius: 0 !important;
  margin: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #E5E5E5;
  box-shadow: none;
}

.cid-tX8n5YQuiW .navbar {
  background-color: #E5E5E5 !important;
  box-shadow: none;
}

#inicio h1 {
  position: absolute;
  width: calc(100% - 485px);
  top: 50px;

}

.azul {
  color: #38BBC9;
}

.cid-tX8ihy9Itf {
  text-align-last: start;
}

.cid-tX8ihy9Itf .list, .cid-tX8ihy9Itf .item-wrap {
  text-align: left;
}

.servicos {
  background-color: #d9d9d9;
  padding: 0 6rem;
}

.NomeDotextodoServiço h2 {
  margin-bottom: 4rem;
}

/* .carousel-item {
  transition: transform .3s ease-in-out;
} */

#Conheçaclub h4 {
  font-size: 2.4rem;
}

#servicos {
  background-color: #fff;
}

#servicos h2 {
  text-align: left;
  font-weight: bold;
  color: #A79383;
  font-size: 36px;
}

#servicos label {
  font-size: 18px;
}

#header h1 {
  font-size: 72px;
}

#header p {
  font-size: 2.7rem;
}

#header h3 {
  /* font-size: 26px; */
  font-size: 2.4rem;
}

#header a {
  font-size: 16px !important;
}

.BemVINDO h5 {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.servicos-inicio {
  background-color: #38BBC9;
  border-radius: 1rem;
  margin-top: -8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 6rem;
  position: absolute;
  bottom: -21.5rem;
  z-index: 1;
  width: 100%;
}

.carousel-indicatorss {
  display: none;
}

.card {
  border: none;
  border-radius: 0;
}

.card1 {
  background-color: #fff;
  border-radius: 6%;
}

.servicos-inicio h1 {
  font-size: 4rem;
}

.footer {
  background: #38BBC9;
  color: #fff;
  font-size: 30px;
  padding: 2rem;
  text-align: right;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 7rem;
}

#mydepoimentos {
  margin-top: 5rem;
}

#mydepoimentos p {
  height: 7rem;
  margin-top: 1rem;
}

.cid-tX8babghc0 .row {
  flex-direction: row;
}

/* .cid-tX8babghc0 .row {
  padding: 0 0 0 20rem;
  margin-top: -50px;
} */

.cid-tX8ihy9Itf .row {
  padding: 2.25rem 0;
}

#article04-1t h4 {
  color: #38BBC9;
  font-size: 1rem;
}

.carousel i {
  font-size: 5rem;
  color: #38BBC9;
}

.card-img {
  background: #fff !important;
}

.card-img img {
  padding: 0 10px;
  background: #fff !important;

}

#video05-2c .cid-tX8esStH6W .carousel-control {
  background: none !important;
  border: none !important;
  transition: none !important;
}

.carousel-control-next, .carousel-control-prev{
  background: #d9d9d9;
  opacity: 1;
  margin: -15px;
}

.cid-tX8x7DbbI3 .carousel-item {
  background: none;
}

#video05-2c .embla__button:hover, #video05-2c .carousel-control:hover {
  background: none !important;
  opacity: 1 !important;
}

.hg-info-servico {
  height: 70px;
}

#servicos #recipeCarousel1 a,
#servicos #recipeCarousel2 a,
#servicos #recipeCarousel3 a,
#servicos #recipeCarousel4 a,
#servicos #recipeCarousel5 a,
#servicos #recipeCarousel6 a {
  margin-left: -10rem;
}

#servicos #recipeCarousel1 a:last-child,
#servicos #recipeCarousel2 a:last-child,
#servicos #recipeCarousel3 a:last-child,
#servicos #recipeCarousel4 a:last-child,
#servicos #recipeCarousel5 a:last-child,
#servicos #recipeCarousel6 a:last-child {
  margin-right: -10rem;
}


#servicos #recipeCarousel1 a.btn:last-child,
#servicos #recipeCarousel2 a.btn:last-child,
#servicos #recipeCarousel3 a.btn:last-child,
#servicos #recipeCarousel4 a.btn:last-child,
#servicos #recipeCarousel5 a.btn:last-child,
#servicos #recipeCarousel6 a.btn:last-child {
  background-color: #38BBC9 !important;
}

.SobreMajo {
  color: #38BBC9;
}

/* Responsivo */
@media (max-width: 768px) {

  #Conheçaclub h4 {
    font-size: 2.2rem;
  }

  #NossoEspaço h4 {
    font-size: 2rem;
  }


  #header p {
    font-size: 1.2rem;

  }

  .bi bi-arrow-right-circle {
    margin-right: 29rem;
  }

  .footer h5 {
    text-align: center;
  }

  .NomeDotextodoServiço h2 {
    font-size: 1.7rem !important;
    text-align: center !important;
    margin-bottom: 2rem !important;
  }

  .cid-tX8eDiqsJ0 .mbr-text, .cid-tX8eDiqsJ0 .mbr-section-btn {
    color: #232323;
    font-size: 16px;
    font-weight: bold;

  }

  .cid-tX8eDiqsJ0 .card-title, .cid-tX8eDiqsJ0 .card-box {
    text-align: center;
  }


  #sobre-nos h1 {
    display: flex;
    justify-content: space-around;


  }

  #sobre-nos h2 {
    text-align: center;
    display: flex;
    margin: 3rem;
    margin-top: -1rem;

  }

  #sobre-nos h4 {
    display: flex;
    justify-content: space-around;
  }

  #sobre-nos p {
    font-size: 16px;
    font-family: mitr;
    padding: 1rem;
    text-align: center;
    margin-top: -4rem;
  }

  #depoimentos .carousel {
    margin: none;
    padding: none;
  }



  .carousel-indicators {
    margin: -4rem;
  }

  .TextoAssineja p {
    margin: 1rem;
  }

  .TextoAssineja a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4rem;

  }

  .header1 .container {
    height: 42rem;
  }


  #sobre-nos>div>div {
    flex-direction: column-reverse;
  }

  #inicio h1 {
    width: auto;
  }

  .cid-tX8ihy9Itf .mbr-section-btn {
    text-align: left;
  }

  .imagem-fundo {
    background-position: center;
    background-size: 332px 396px;
    position: absolute;
    right: auto;
    top: 4rem;
  }

  .cid-tX8babghc0 {
    margin-top: 0;
  }

  #header h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 1rem !important;
  }

  #header h3 {
    font-size: 16px !important;
    text-align: center;
  }

  .agendar-horario {
    text-align: center;
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .servicos-inicio {
    height: 4rem;
    width: 100%;
    align-items: flex-end;
  }

  .p-0 {
    padding: auto;
  }

  .carousel i {
    font-size: 2.2rem;
  }

  .card-img img {
    padding: 0 35px;
  }
}


@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }

  .avaliacao-gratis ul li, .avaliacao-gratis h5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .servicos-inicio{
    bottom: -27.5rem;
  }
  #sobre-nos h4{
     te
  }
}



.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}